<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.idisfkj.awesome.github">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="false"
            android:icon="@drawable/github_icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/github_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <provider
                android:name="com.rousetime.android_startup.provider.StartupProvider"
                android:authorities="${applicationId}.startup.provider"
                android:exported="false">

            <meta-data
                    android:name="com.idisfkj.awesome.github.startup.AwesomeGithubStartupConfig"
                    android:value="android.startup.provider.config" />

            <meta-data
                    android:name="com.idisfkj.awesome.github.startup.ThirdPartStartup"
                    android:value="android.startup" />

            <meta-data
                    android:name="com.idisfkj.awesome.github.startup.AsyncBridgeStartup"
                    android:value="android.startup" />

            <meta-data
                    android:name="com.idisfkj.awesome.github.startup.SyncBridgeStartup"
                    android:value="android.startup" />

        </provider>

        <activity
                android:name=".ui.welcome.WelcomeActivity"
                android:screenOrientation="portrait"
                android:theme="@style/NoActionBarTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
                android:name=".ui.main.MainActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>
