<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.idisfkj.awesome.repos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".ReposApp"
            android:allowBackup="true"
            android:icon="@mipmap/repos_ic_launcher"
            android:label="@string/repos_app_name"
            android:roundIcon="@mipmap/repos_ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/ReposAppTheme">
        <activity android:name=".ReposActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>