<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.idisfkj.awesome.webview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".WebViewApp"
            android:allowBackup="true"
            android:icon="@mipmap/webview_ic_launcher"
            android:label="@string/webview_app_name"
            android:roundIcon="@mipmap/webview_ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/WebViewAppTheme">
        <activity android:name=".WebViewMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".WebViewActivity"
                android:screenOrientation="portrait" />

    </application>

</manifest>